.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(16, 16, 29, 0.9);
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    max-width: 94.8%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1172px;
  }
}

