.order {
  width: 100%;
  height: 100%;
  background: url("../img/fone/order-background.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.order__container {
  padding: 60px 20px 0;

  @media (min-width: $desktop-width) {
    padding: 120px 0 151px 0;
    max-width: 1172px;
    margin: 0 auto;
  }
}

.order__title h2 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  text-align: center;

  @include font(24px, 87%, 800);

  @media (min-width: $desktop-width) {
    @include font(36px, 83.7%, 800);
    margin: 0 0 30px 0;
  }
}

.order__title span {
  color: #3e9cdc;
}

.order__title p {
  margin: 0 0 35px 0;
  text-align: center;

  @include font(13px, 87%, 400);

  @media (min-width: $desktop-width) {
    @include font(18px, 85.7%, 400);
  }
}

.order__pagination {
  padding: 0 0 50px 0;
}

.order__pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.order__pagination-item {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;

  @include font(13px, 87%, 400);
  color: #ffffff;

  &:not(:last-child) {
    &::before {
      content: "";
      width: 10px;
      height: 6px;
      background: url("../img/pagination.svg");
      position: absolute;
      transform: rotate(90deg);
      top: 135px;
      left: 47%;
      z-index: -1;

      @media (min-width: $desktop-width) {
        transform: rotate(0deg);
        width: 110px;
        top: 39%;
        left: 89%;
      }
    }
  }
}

.order__pagination-item span {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: #3e9cdc;
  border-radius: 50px;
  margin: 0 auto 10px;
  border: 5px solid #286690;
  cursor: pointer;

  &:hover {
    background: #286690;
    border: 5px solid #3e9cdc;
    transition: 0.2s ease-in;
  }

  &:hover .order__pagination-icon {
    fill: #3ff4e1;
    transition: 0.2s ease-in;
  }
}

.order__pagination-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  &--search {
    fill: #ffffff;
    width: 35px;
    height: 35px;
  }

  &--precent {
    fill: #ffffff;
    width: 31px;
    height: 32px;
  }

  &--documents {
    fill: #ffffff;
    width: 40px;
    height: 43px;
  }

  &--email {
    fill: #ffffff;
    width: 37px;
    height: 29px;
  }

  &--cash {
    fill: #ffffff;
    width: 39px;
    height: 27px;
  }
}

.order__pagination-item p {
  width: 180px;
  margin: 0;
  text-align: center;
}

.order__form {
  max-width: 1172px;
  margin: 0 auto;
}

.order__form-user {
  max-width: 320px;
  margin: 0 auto 120px;
  gap: 30px;

  @media (min-width: $desktop-width) {
    max-width: 1172px;
    margin: 0 auto;
  }
}

.order__contol-user {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__user-field-form {
  display: grid;
  row-gap: 30px;
  margin: 0 auto 30px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__form-user select {
  position: relative;
  appearance: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  outline: none;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    outline: 2px solid #3e9cdc;
  }

  @media (min-width: $desktop-width) {
    max-width: 373px;
  }
}

.order__form-input {
  appearance: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  outline: none;

  &:hover {
    outline: 2px solid #3e9cdc;
  }

  @media (min-width: $desktop-width) {
    max-width: 370px;
  }
}

.order__slider {
  margin-bottom: 30px;
}

.order__slider-field {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.order__slider-wrapper {
  @media (min-width: $desktop-width) {
    width: 770px;
  }
}

.order__slider-field input {
  background: transparent;
  color: #ffffff;
  border: none;
  width: 55px;
  padding: 0 0 0 30px;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 20px;
  }
}

.order__slider-label {
  width: 100%;
}

.order__upload-wrapper {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;


  @media (min-width: $desktop-width) {
    width: 370px;
  }
}

.order__slider-file input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.order__upload-container {
  width: 100%;
  padding: 15px 0;
  display: block;
  background: #ffffff;
  border: 2px solid #3e9cdc;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: #0bb8e9;
  }

  &:active {
    background: #286690;
    box-shadow: 4px 4px 8px 0 rgba(153, 138, 138, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    left: 70px;
    top: 12px;
    width: 17px;
    height: 21px;
    background: url("../img/icons/attach-button.svg") no-repeat;
  }
}

.order__upload-title {
  @include font(14px, 118%, 600);
  color: #272733;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.order__slider-file label.focus {
  outline: 1px solid #0078d7;
}

.order__button-submit {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #ffffff;

  @include font(14px, 118%, 600);

  max-width: 320px;
  margin: 0 auto;
  background: #3e9cdc;
  border: 1px solid #ffffff;
  border-radius: 4px;

  &:hover {
    background: #0bb8e9;
  }

  &:active {
    background: #286690;
    box-shadow: 4px 4px 8px 0 rgba(153, 138, 138, 0.2);
  }
}
