$mobile-width: 320px;
$desktop-width: 1150px;
$tablet: 768px;

@mixin font($fs: 13px, $lh: 24px, $fw: 400) {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
